.layout {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  width: 100%;
  padding-top: var(--page-top-padding, 7rem);
  padding-bottom: 5rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .content {
    max-width: 48rem;
    margin: 0 auto;
    padding-inline: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 60rem;
    padding-inline: 2rem;
  }
}
